vti_encoding:SR|utf8-nl
VINAVBAR:VW|C:\\\\Program\\ Files\\\\Common\\ Files\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\VINAVBAR\\\\VINAVBAR.inf VINAVBAR E I info N C:\\\\Program\\ Files\\\\Common\\ Files\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\VINAVBAR\\\\fp4Avnb.dll
